* {
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;
}

body {
    font-size: 1.6rem;
}

/* Common */
.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-2 {
    --line-clamp: 2;
}

.btn {
    display: inline-block;
    border-radius: 14px;
    background: #1ebfc1;
    min-width: 186px;
    padding: 17px 16px;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.8;
}

.heading {
    color: #0d1111;
    font-weight: 700;
}

.heading.lv1 {
    font-size: 6.2rem;
    line-height: 1.16; /* 116.129% */
}

.heading.lv2 {
    font-size: 4.2rem;
    line-height: 1.33; /* 133.333% */
}

.desc {
    color: #9da6a5;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.78; /* 177.778% */
}

/* =================== Header ===================*/
.header {
    background-color: #fff;
}

.header.fixed {
    position: sticky;
    top: -44px;
    z-index: 1;
}

.header .nav {
    padding: 52px 0 8px;
    display: flex;
    align-items: center;
}

.header .nav .list {
    display: flex;
    margin-left: 235px;
    gap: 0 39px;
}

.header .nav .item a {
    color: #2f3a3b;
    font-size: 1.6rem;
    font-weight: 400;
}

.header .nav .item a:hover,
.header .list .active a {
    color: #2f3a3b;
    text-shadow: 1px 0 0 currentColor;
}

.header .nav .action {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 0 24px;
}

.header .action span {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    color: #494949;
    cursor: pointer;
}

.header .action span:hover {
    opacity: 0.8;
}

.header .action .cta-btn {
    min-width: 108px;
    height: 48px;
    padding: 13px 16px;
    text-align: center;
    font-size: 1.6rem;
    background-color: transparent;
    border-radius: 6px;
    border: 1px solid #1ebfc1;
    color: #1ebfc1;
}

.header .action .cta-btn:first-child {
    border-color: transparent;
}

.header .action .cta-btn:first-child:hover {
    border: 1px solid #1ebfc1;
}

/* =================== Hero ===================*/
.hero {
    padding: 42px 0 79px;
}

.hero .body {
    display: flex;
}

.hero .content-block {
    width: 39%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero .content-block .sub-title {
    color: #767e7e;
    font-size: 1.4rem;
    font-weight: 400;
}

.hero .content-block .heading {
    margin-top: 18px;
}

.hero .content-block .desc {
    margin-top: 46px;
    width: 374px;
}

.hero .content-block .watch-video {
    margin-top: 52px;
    display: flex;
    gap: 0 50px;
    align-items: center;
}

.hero .content-block .btn-hero {
    padding: 25px 16px;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    color: #fff;
}

.hero .content-block .play-video {
    width: 62px;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0px 22px 50px 0px rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.hero .content-block .play-video:hover {
    opacity: 0.8;
}

/* Media-block */
.hero .media-block {
    margin-left: 136px;
    width: 49%;
    position: relative;
}
.hero .media-block .images img {
    width: 100%;
    height: 631px;
    object-fit: cover;
}

.hero .media-block .courses {
    padding: 17px 25px 18px;
    width: 157px;
    display: flex;
    align-items: center;
    gap: 0 16px;
    border-radius: 18px;
    background: #fefefd;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
    position: absolute;
    top: 149px;
    left: -40px;
}

.hero .courses .book {
    display: inline-block;
    position: relative;
}

.hero .courses .book::before {
    content: "";
    display: block;
    background-color: #fff;
    width: 28px;
    height: 4px;
    position: absolute;
    bottom: 8px;
    left: 4px;
    border-radius: 999px;
}

.hero .media-block p {
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
    line-height: normal;
}

.hero .sched {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding: 16px 23px 25px;
    border-radius: 24px;
    position: absolute;
    width: 124px;
    top: 453px;
    left: -65px;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
    background: #fff;
}

.hero .sched .length {
    display: flex;
    width: 74px;
    height: 6px;
    border-radius: 3px;
    background: #edf1f5;
}

.hero .sched .length:last-child {
    width: 26px;
}

.hero .sched .length:nth-child(2) span {
    display: inline-block;
    width: 39px;
    border-radius: 3px;
    background-color: #fb9899;
}

.hero .sched .length:nth-child(3) span {
    display: inline-block;
    width: 51px;
    border-radius: 3px;
    background-color: #fb9899;
}

.hero .sched .length:nth-child(4) span {
    display: inline-block;
    width: 33px;
    border-radius: 3px;
    background-color: #fb9899;
}

.hero .media-block .students {
    width: 207px;
    padding: 17px 35px;
    border-radius: 24px;
    background: #fefefd;
    box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
    position: absolute;
    top: 500px;
    right: 45px;
}

.hero .media-block .avatar-group {
    margin-top: 8px;
    display: flex;
}

.hero .media-block .avatar,
.hero .avatar-group .add {
    width: 33px;
    height: 33px;
    margin-left: -6px;
    object-fit: cover;
    border-radius: 50%;
}

.hero .avatar-group .add {
    background-color: #1ebfc1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 10px;
    font-weight: 500;
}

/* =================== Features ===================*/
.features {
    margin-top: 65px;
    padding: 65px 0;
}

.features .lead {
    color: #767e7e;
    font-size: 12px;
    font-weight: 700;
}

.features .heading {
    margin-top: 18px;
    width: 577px;
}

.features .desc {
    margin-top: 18px;
    width: 590px;
    line-height: normal;
    color: #767e7e;
}

.features .row {
    margin-top: 80px;
    display: flex;
}

.features .row .column-item {
    width: 19%;
}

.features .row .column-item:first-child {
    width: 14.4%;
}

.features .row .column-item:nth-child(2) {
    margin-left: 209px;
}

.features .row .column-item:nth-child(3) {
    margin-left: 200px;
}

.features .column-item .sub-title {
    margin-top: 16px;
    color: #0d1111;
    font-size: 2rem;
    font-weight: 600;
}

.features .column-item .text {
    margin-top: 16px;
    color: #9da6a5;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.69; /* 168.75% */
}

/* =================== Courses ===================*/
.courses {
    margin-top: 65px;
}

.courses .lead {
    color: #767e7e;
    font-size: 12px;
    font-weight: 700;
}

.courses .heading {
    margin-top: 18px;
}

.courses .more {
    margin-top: 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.courses .more .desc {
    width: 525px;
}

.courses .more .link {
    color: #1ebfc1;
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration-line: underline;
}

.courses .row {
    display: flex;
    margin-top: 79px;
    gap: 0 47px;
}

.courses .row .column {
    width: 359px;
    position: relative;
}

.courses .row img {
    width: 100%;
    height: 393px;
    object-fit: cover;
    border-radius: 8px;
    opacity: 0.8;
    background: #d0efed;
}

.courses .row .info {
    width: 325px;
    padding: 18px 35px 29px 25px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
    position: absolute;
    left: 17px;
    top: 322px;
    cursor: pointer;
}

.courses .info .title {
    color: #0d1111;
    font-size: 2.2rem;
    font-weight: 700;
}

.courses .info .price {
    display: inline-block;
    margin-top: 16px;
    color: #767e7e;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

.courses .info .price strong {
    color: #0d1111;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
}

.courses .info .sub-title,
.courses .info .stats {
    margin-top: 6px;
    color: #9da6a5;
    font-size: 1.4rem;
    font-weight: 400;
}

.courses .info .stats {
    margin-top: 18px;
    display: flex;
    gap: 0 10px;
}

.courses .info .stats span {
    display: flex;
    align-items: center;
    gap: 0 10px;
}

.courses .info .stats span::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #1ebfc1;
}

/* =================== Countdown ===================*/
.countdown {
    padding: 65px 0;
    margin-top: 324px;
}

.countdown .row {
    display: flex;
    gap: 0 200px;
}

.countdown .content {
    display: flex;
    justify-content: center;
}

.countdown .row .stats {
    color: #0d1111;
    text-align: center;
    font-size: 6.2rem;
    font-weight: 700;
}

.countdown .row .desc {
    margin-top: 11px;
    color: #767e7e;
    font-size: 1.8rem;
    font-weight: 400;
}

/* =================== Testimonial ===================*/
.testimonial {
    margin-top: 134px;
    padding: 65px 0;
}

.testimonial .row {
    display: flex;
}

.testimonial .content-block {
    width: 36%;
    margin-top: 37px;
    margin-right: 72px;
}

.testimonial .content-block .desc {
    margin-top: 27px;
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 1.5; /* 150% */
    color: #5d6564;
}

.testimonial .student {
    margin-top: 33px;
    font-size: 1.6rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    color: #767e7e;
}

.testimonial .student::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 2px;
    background: #070707;
    margin-right: 5px;
}

.testimonial .student strong {
    font-size: 1.6rem;
    font-weight: 400;
    color: #767e7e;
}

.testimonial .student strong {
    display: inline-block;
    margin-right: 2px;
    font-weight: 500;
    color: #070707;
}

.testimonial .row .control {
    margin-top: 52px;
    display: flex;
    gap: 0 30px;
}

.testimonial .control .page-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #2ac9bf;
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonial .control .page-icon:hover {
    opacity: 0.9;
}

/* =================== Call to action ===================*/
.cta {
    margin-top: 65px;
    background: #def6f5;
    padding: 76px 0 88px;
}

.cta .row {
    display: flex;
    align-items: center;
}

.cta .row .desc {
    margin-top: 18px;
    line-height: normal;
    color: #767e7e;
}

.cta .row .cta-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    height: 68px;
    background: #2ac9bf;
    margin-left: 410px;
}

/* =================== Footer ===================*/
.footer {
    padding: 130px 0 50px;
}

.footer .row {
    display: flex;
}

.footer .row .column:nth-child(1),
.footer .row .column:nth-child(2) {
    margin-right: 144px;
}

.footer .row .column:nth-child(2) {
    width: 91px;
}

.footer .row .column:nth-child(3),
.footer .row .column:nth-child(5) {
    width: 113px;
}

.footer .row .column:nth-child(3) {
    margin-right: 144px;
}

.footer .row .column:nth-child(4) {
    margin-right: 137px;
    width: 157px;
}

.footer .column .title {
    color: #2e2e2e;
    font-size: 1.8rem;
    font-weight: 500;
}

.footer .column .list a {
    color: #535353;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: normal;
    margin-top: 25px;
}

.footer .column .list .item {
    margin-top: 20px;
}

.footer .column .icon {
    margin-right: 9px;
}

.footer .copy-right {
    margin-top: 80px;
    color: #b0b5b4;
    font-size: 1.8rem;
    font-weight: 400;
    text-align: center;
}
